<div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>Modern Medical Clinic You Can Trust</h3>
                <p class="fst-italic">
                    We are committed to delivering not only effective treatment but also a high level of service at every stage — from the initial consultation to full recovery.
                </p>

                <p>
                    Our clinic combines advanced technology, experienced professionals,
                    and a personalized approach to every patient. We create a comfortable
                    and reliable environment where your health is our top priority.
                </p>
            </div>