{% load static %}

<div class="row">

    <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="{% static 'assets/img/chefs/doc1.jpg' %}?v=2" class="img-fluid" alt="">
            <div class="member-info">
                <div class="member-info-content">
                    <h4>Dr. Nodir  Karimov</h4>
                    <span>Orthopedic Surgeon</span>
                </div>
                <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>



    <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="{% static 'assets/img/chefs/doc2.jpg' %}?v=2" class="img-fluid" alt="">
            <div class="member-info">
                <div class="member-info-content">
                    <h4>Dr. Rajiv Mehta</h4>
                    <span>Cardiologist</span>
                </div>
                <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>





    <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="{% static 'assets/img/chefs/doc3.jpg' %}?v=2" class="img-fluid" alt="">
            <div class="member-info">
                <div class="member-info-content">
                    <h4>Dr. Amina Okoye</h4>
                    <span>Pediatrician</span>
                </div>
                <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>



</div>
