{% load static %}


<div class="swiper-slide">
    <div class="testimonial-item">
        <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
           The service here is exceptional. The doctors are professional,
            attentive, and truly care about their patients. Everything was fast and well-organized.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>

        <h3>Xabib Suyunov</h3>
        <h4>Patient</h4>
    </div>
</div>


<div class="swiper-slide">
    <div class="testimonial-item">
        <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            I was impressed by how quickly I could book an
            appointment and receive treatment. The clinic is modern and very comfortable
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>

        <h3>Jahongir Narimanov</h3>
        <h4>Patient</h4>
    </div>
</div>


<div class="swiper-slide">
    <div class="testimonial-item">
        <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            Highly professional staff and excellent service.
            The diagnosis was accurate, and the treatment helped me recover quickly
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>

        <h3>Shoxruh Yakubjanov</h3>
        <h4>Patient</h4>
    </div>
</div>


<div class="swiper-slide">
    <div class="testimonial-item">
        <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
         Clean environment, friendly staff, and no long waiting times. I felt safe and well taken care of.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>

        <h3>Sophia Akapiyan</h3>
        <h4>Patient</h4>
    </div>
</div>


<div class="swiper-slide">
    <div class="testimonial-item">
        <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            The doctors explained everything clearly and gave me
            confidence in the treatment. I highly recommend this clinic.
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>

        <h3>Akmal Akromov</h3>
        <h4>Patient</h4>
    </div>
</div>