{% load static %}


<div class="col-lg-4">
    <div class="box" data-aos="zoom-in" data-aos-delay="100">
        <span>1</span>
        <h4>Quality</h4>
        <p>Highly qualified doctors with practical experience</p>
    </div>
</div>


<div class="col-lg-4 mt-4 mt-lg-0">
    <div class="box" data-aos="zoom-in" data-aos-delay="200">
        <span>2</span>
        <h4>Up-to-date</h4>
        <p>Modern equipment and accurate diagnostics</p>
    </div>
</div>


<div class="col-lg-4 mt-4 mt-lg-0">
    <div class="box" data-aos="zoom-in" data-aos-delay="300">
        <span>3</span>
        <h4>Time management</h4>
        <p>Fast appointment scheduling without long queues</p>
    </div>
</div>
