{% load static %}

<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <!--footer clinicos-info start-->
<!--                {% include 'app/components/sub_components/__footer_restaurantly-info.html' %}-->
                <!--footer clinicos-info end-->


                <!--footer useful-links start-->
                {% include 'app/components/sub_components/__footer_useful-links.html' %}
                <!--footer useful-links end-->


                <!--footer our-services start-->
                {% include 'app/components/sub_components/__footer_our-services.html' %}
                <!--footer our-services end-->

            </div>
        </div>
    </div>
</footer>